@model passionP.Models.ViewModels.DetailsProduct
@{
    ViewBag.Title = "View";
}
<h2>Product: @Model.SelectedProduct.ProductName</h2>
<nav>
    <ul>
        
        <div><button type="button" class="btn btn-primary"><a style="color:white;" href="/Product/List">Go Back To List</a></button></div>
        <br />

        <div><button type="button" class="btn btn-success"><a style="color:white;" href="/Product/Edit/@Model.SelectedProduct.ProductID">Update</a></button></div>
        <br />

        <div><button type="button" class="btn btn-danger"><a style="color:white;" href="/Product/DeleteConfirm/@Model.SelectedProduct.ProductID">Delete</a></button></div>
    </ul>
</nav>
<div class="row">
    <div class="col-md-6 col-sm-12">
        @{
            string imageurl = "/Content/Images/Products/default.jpg";
            if (Model.SelectedProduct.ProductHasPic)
            {
                imageurl = "/Content/Images/Products/" + Model.SelectedProduct.ProductID + "." + Model.SelectedProduct.PicExtension;
            }
        }
        <div><img style="display:block; max-width:50%;" alt="@Model.SelectedProduct.ProductName" src="@imageurl" /></div>
        <div>Brand: @Model.SelectedProduct.BrandName</div>
        <div>Discontinued: @Model.SelectedProduct.Discontinued</div>
    </div>


    <div class="col-md-6 col-sm-12">
        <h2>Retailers selling @Model.SelectedProduct.ProductName:</h2>
        @foreach (var retailer in Model.ResponsibleRetailers)
        {


            <a href="/Retailer/Details/@retailer.RetailerID">@retailer.RetailerName </a><span>Price: @retailer.ProductPrice </span> <a style="color:#ab2020;" href="/Product/Unassociate/@Model.SelectedProduct.ProductID?RetailerID=@retailer.RetailerID">[x]</a><br>
        }

        
    </div>
</div>




