@model passionP.Models.ViewModels.UpdateProduct

@{
    ViewBag.Title = "Edit";
}

<h2>Update Product</h2>
<form action="/Product/Update/@Model.SelectedProduct.ProductID" method="POST">
    <div style="display:none;">
        @* Pass through the product ID *@
        <input type="text" name="ProductID" value="@Model.SelectedProduct.ProductID" />
    </div>
    <div>
        <label>Name:</label> <input type="text" name="ProductName" value="@Model.SelectedProduct.ProductName" />
    </div>
    <div>
        <label>Discontinued:</label> <input type="checkbox" name="Discontinued" value="@Model.SelectedProduct.Discontinued" />
    </div>
    <div>
        <label>Brand ID:</label>

        <select name="BrandID">
            @foreach (var brand in Model.BrandOptions)
            {
                string selected = "";
                if (brand.BrandID == Model.SelectedProduct.ProductID)
                {
                    selected = "selected";
                }
                <option value="@brand.BrandID" @selected>@brand.BrandName</option>

            }
        </select>
    </div>
    <div>
        <input type="submit" value="Update Product" />

    </div>
</form>